# Python artifacts
*.pyc
__pycache__/

# Environment files
.env

# IDE and editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Node.js (if frontend present)
node_modules/
dist/

venv
